.button {
  color: var(--font-color);

  width: max-content;
  margin: auto;

  /* border: 1px solid var(--font-color);
  border-radius: 15%; */

  /* padding: 6px; */
  border: none;

  background-color: var(--buttons-color);
  font-size: 15px;

  font-family: var(--font);
}

.button:hover {
  cursor: pointer;
  color: var(--focuc-color);
  border: 1px solid var(--font-color);
  border-radius: 5px;
}