.button {
  color: var(--font-color);

  /* border: 1px solid var(--font-color);
  border-radius: 50%; */
  border: none;
  padding: 6px;

  background-color: var(--buttons-color);
  font-size: 15px;

  font-family: var(--font);
}

.button:hover {
  cursor: pointer;
  color: var(--focuc-color);
  border: 2px solid var(--focuc-color);
}